table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }
  .contenedor{
    max-width: 1200px;
    margin: 0 auto;
  }

.Instrucciones{
  margin: 15px auto;
  max-width: 1000px;
  text-align: center;
}